# 1

### 1.1

建立一個名為`myList`的`list`及`myTuple`的`tuple`，內容元素都是`9, 5, 2, 7`四個數  
建立之後分別將`mylist`及`myTuple`的內容輸出

* Output:

```python
[9, 5, 2, 7]
(9, 5, 2, 7)
```

In [7]:
# your code here
myList = [9, 5, 2, 7]
myTuple = (9, 5, 2, 7)

### 1.2

嘗試將`myList`中的`5`替換成`1`並輸出結果

In [2]:
# your code here
myList[1] = 1
print(myList)

[9, 1, 2, 7]

### 1.3

嘗試將`myTuple`中的`5`替換成`1`並輸出結果

In [3]:
# your code here
myTuple[1] = 1
print(myTuple)

# !必定會出錯，因為tuple內容不可改

TypeError: 'tuple' object does not support item assignment

# 2

2021年5/7~5/20期間，全X一部分優惠商品的價格如下:

| 品項 | 價格(元) |
| --- | --- |
|桂格大燕麥片(2600g/盒) | 298 |
|一匙靈超濃縮洗衣粉(1.9kg/盒) | 98 |
|柏克金三月啤酒(6入) | 187 |
|Cheers氣泡水(590ml/瓶) | 21 |
|台鹽海洋鹼性離子水(1500ml/瓶) | 35 |
|春風抽取式衛生紙(10入/組) | 99 |
|奧利奧夾心餅乾(133g/盒) | 36 |
|福樂高鈣牛乳(1892ml/瓶) | 109 |
|盛香珍Dr.Q蒟蒻(265g/包) | 42 |

這些價格紀錄在`price_dict`這個`dict`容器裡面。  
以下是阿梅的購物清單，請利用`price_dict`找出她共需要花多少錢

* 桂格大燕麥片 x 2盒
* Cheers氣泡水  x 4瓶
* 福樂高鈣牛乳  x 2瓶
* 春風衛生紙  x 2組(共20入)

In [4]:
price_dict = {
    '桂格大燕麥片': 298,
    '一匙靈超濃縮洗衣粉': 98,
    '柏克金三月啤酒': 187,
    'Cheers氣泡水': 21,
    '台鹽海洋鹼性離子水': 35,
    '春風抽取式衛生紙': 99,
    '奧利奧夾心餅乾': 36,
    '福樂高鈣牛乳': 109,
    '盛香珍Dr.Q蒟蒻': 42
}

# your code here
print(price_dict['桂格大燕麥片']*2 + price_dict['Cheers氣泡水']*4 + price_dict['福樂高鈣牛乳']*2 + price_dict['春風抽取式衛生紙']*2)

1096

# 3

還記得上個禮拜的3年A班的期中成績表嗎?現在改用一個`dict`來記錄他們的成績

In [84]:
grade_dict = {
    'James': {'國文': 94, '英文': 74, '數學': 79},
     'Mary': {'國文': 94, '英文': 92, '數學': 94},
     'John': {'國文': 72, '英文': 84, '數學': 92},
     'Patricia': {'國文': 83, '英文': 71, '數學': 86},
     'Robert': {'國文': 92, '英文': 87, '數學': 74},
     'Jennifer': {'國文': 95, '英文': 92, '數學': 85},
     'Michael': {'國文': 93, '英文': 83, '數學': 95},
     'Linda': {'國文': 95, '英文': 93, '數學': 76},
     'William': {'國文': 70, '英文': 78, '數學': 89},
     'Elizabeth': {'國文': 76, '英文': 79, '數學': 92},
     'David': {'國文': 90, '英文': 93, '數學': 81},
     'Barbara': {'國文': 77, '英文': 73, '數學': 72},
     'Richard': {'國文': 84, '英文': 92, '數學': 82},
     'Susan': {'國文': 78, '英文': 75, '數學': 70},
     'Joseph': {'國文': 85, '英文': 90, '數學': 76},
     'Jessica': {'國文': 93, '英文': 76, '數學': 85},
     'Thomas': {'國文': 70, '英文': 92, '數學': 80},
     'Sarah': {'國文': 93, '英文': 75, '數學': 92},
     'Charles': {'國文': 85, '英文': 95, '數學': 83},
     'Karen': {'國文': 92, '英文': 77, '數學': 72}
}

### 3.1

輸出`David`的英文成績及`Patricia`的英文成績，並比較誰的成績比較高

In [12]:
# your code here
David = grade_dict['David']['英文']
Patricia = grade_dict['Patricia']['英文']

print('David:', David)
print('Patricia:', Patricia)

if David > Patricia:
    print('David > Patricia')
elif  David == Patricia:
    print('David = Patricia')
else:
    print('David < Patricia')

David: 93
Patricia: 71
David > Patricia

### 3.2

輸出3年A班共有幾個人的成績為92分(任何科目都算)

> hint:`dict.values()`  
> (也可以用其他方法)

In [44]:
# your code here
count = 0
for grade in grade_dict.values():
    if grade['國文'] == 92:
        count += 1
    elif grade['英文'] == 92:
        count += 1
    elif grade['數學'] == 92:
        count += 1

print(count)

9

#### 這題有好幾種寫法，能work就可以

In [15]:
# version 2
count = 0
for key in grade_dict:
    if grade_dict[key]['國文'] == 92:
        count += 1
    if grade_dict[key]['英文'] == 92:
        count += 1
    if grade_dict[key]['數學'] == 92:
        count += 1
        
print(count)

9

In [18]:
# version 3
count = 0
for grade in grade_dict.values():
    count += list(grade.values()).count(92)
    # 用 dict.values() 取值 
    # -> 用 list() 包住，轉型成 list 型態，之後再用 list.count() 直接找有幾個 92
        
print(count)

9

### 3.3 (Bonus)

計算每個人的總成績，並將總成績加到每個`child dict`內。最後輸出`grade_dict`的內容

例如，James的成績`dict`長得像這樣 : `{'國文': 93, '英文': 74, '數學': 79, '總成績': 246}`

In [86]:
# your code here
for key in grade_dict:
    grade_dict[key]['總成績'] = grade_dict[key]['國文'] + grade_dict[key]['英文'] + grade_dict[key]['數學']
    
grade_dict

{'James': {'國文': 94, '英文': 74, '數學': 79, '總成績': 247},
 'Mary': {'國文': 94, '英文': 92, '數學': 94, '總成績': 280},
 'John': {'國文': 72, '英文': 84, '數學': 92, '總成績': 248},
 'Patricia': {'國文': 83, '英文': 71, '數學': 86, '總成績': 240},
 'Robert': {'國文': 92, '英文': 87, '數學': 74, '總成績': 253},
 'Jennifer': {'國文': 95, '英文': 92, '數學': 85, '總成績': 272},
 'Michael': {'國文': 93, '英文': 83, '數學': 95, '總成績': 271},
 'Linda': {'國文': 95, '英文': 93, '數學': 76, '總成績': 264},
 'William': {'國文': 70, '英文': 78, '數學': 89, '總成績': 237},
 'Elizabeth': {'國文': 76, '英文': 79, '數學': 92, '總成績': 247},
 'David': {'國文': 90, '英文': 93, '數學': 81, '總成績': 264},
 'Barbara': {'國文': 77, '英文': 73, '數學': 72, '總成績': 222},
 'Richard': {'國文': 84, '英文': 92, '數學': 82, '總成績': 258},
 'Susan': {'國文': 78, '英文': 75, '數學': 70, '總成績': 223},
 'Joseph': {'國文': 85, '英文': 90, '數學': 76, '總成績': 251},
 'Jessica': {'國文': 93, '英文': 76, '數學': 85, '總成績': 254},
 'Thomas': {'國文': 70, '英文': 92, '數學': 80, '總成績': 242},
 'Sarah': {'國文': 93, '英文': 75, '數學': 92, '總成績': 260},
 'Charles': {'國文': 85, '英文': 95, '數學': 83, '總成績': 263},
 'Karen': {'國文': 92, '英文': 77, '數學': 72, '總成績': 241}}

In [88]:
# version 2
for key in grade_dict:
    Sum = grade_dict[key]['國文'] + grade_dict[key]['英文'] + grade_dict[key]['數學']
    tmp = {'總成績': Sum}
    grade_dict[key].update(tmp)
    
grade_dict

{'James': {'國文': 94, '英文': 74, '數學': 79, '總成績': 247},
 'Mary': {'國文': 94, '英文': 92, '數學': 94, '總成績': 280},
 'John': {'國文': 72, '英文': 84, '數學': 92, '總成績': 248},
 'Patricia': {'國文': 83, '英文': 71, '數學': 86, '總成績': 240},
 'Robert': {'國文': 92, '英文': 87, '數學': 74, '總成績': 253},
 'Jennifer': {'國文': 95, '英文': 92, '數學': 85, '總成績': 272},
 'Michael': {'國文': 93, '英文': 83, '數學': 95, '總成績': 271},
 'Linda': {'國文': 95, '英文': 93, '數學': 76, '總成績': 264},
 'William': {'國文': 70, '英文': 78, '數學': 89, '總成績': 237},
 'Elizabeth': {'國文': 76, '英文': 79, '數學': 92, '總成績': 247},
 'David': {'國文': 90, '英文': 93, '數學': 81, '總成績': 264},
 'Barbara': {'國文': 77, '英文': 73, '數學': 72, '總成績': 222},
 'Richard': {'國文': 84, '英文': 92, '數學': 82, '總成績': 258},
 'Susan': {'國文': 78, '英文': 75, '數學': 70, '總成績': 223},
 'Joseph': {'國文': 85, '英文': 90, '數學': 76, '總成績': 251},
 'Jessica': {'國文': 93, '英文': 76, '數學': 85, '總成績': 254},
 'Thomas': {'國文': 70, '英文': 92, '數學': 80, '總成績': 242},
 'Sarah': {'國文': 93, '英文': 75, '數學': 92, '總成績': 260},
 'Charles': {'國文': 85, '英文': 95, '數學': 83, '總成績': 263},
 'Karen': {'國文': 92, '英文': 77, '數學': 72, '總成績': 241}}

# 4

建立一個函式`calculateRangeSum()`，參數為兩個整數`a`及`b`(也可以取其他的名字)，回傳(`return`)這兩個數之間(包含這兩個數字)所有整數的和

* example 1

    * Input 

    > `calculateRangeSum(3, 5)`
    
    * Output
    
    > `12`

* example 2

    * Input 

    > `calculateRangeSum(1, 10)`
    
    * Output
    
    > `55`

In [ ]:
def calculateRangeSum(a:int, b:int):
    pass
    # your code here

In [ ]:
# 測資，可以直接執行看看結果是否皆為 True
print(calculateRangeSum(3, 5) == 12)
print(calculateRangeSum(1, 10) == 55)
print(calculateRangeSum(345, 734512) == 269754246988)

# 5

費波那契數列如下:  
`1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, ...`

在數學內費波那契數列使用遞迴的方式定義。令$F_n$為費波那契數列的第$n$項，則有以下規則:

#### $F_0 = 1$
#### $F_1 = 1$
#### $F_n = F_{n-1} + F_{n-2}$ for n > 1

請設計一個函式`fib(n)`，回傳費波那契數列第`n`項的值

In [ ]:
def fib(n):
    pass
    # your code here