# 1

現在我們有一個儲存世界各地一些城市的陣列

`city_list:list` -> 存放城市的名稱的陣列  
`print_city_list():function` -> 輸出`city_list`的內容

執行下方的區塊可以看到`print_city_list()`執行的結果

In [26]:
def print_city_list():
    for i, city in enumerate(city_list):
        print(f'{i}\t{city}')
        
city_list = ['Taipei', 'New York', 'Paris', 'London']
print_city_list()

0	Taipei
1	New York
2	Paris
3	London

### 1.1

在此陣列的最後加上一個新的城市 : `Rome`  
增加後使用`print_city_list()`來輸出陣列目前的內容

> Hint : `list.append()`

In [27]:
# your code here
city_list.append('Rome')
print_city_list()

0	Taipei
1	New York
2	Paris
3	London
4	Rome

### 1.2

在陣列中`New York`跟`Paris`之間插入一個新的城市 : `Tokyo`  
同樣使用`print_city_list()`查看陣列的內容

> Hint : `list.insert()`

In [22]:
# your code here
city_list.insert(2, 'Tokyo')
print_city_list()

0	Taipei
1	New York
2	Tokyo
3	Paris
4	London
5	Rome

In [18]:
# version 2
# 如果不知道 New York 的位置，可以用 list.index 查詢

idx = city_list.index('New York')
city_list.insert(idx+1, 'Tokyo')
print_city_list()

0	Taipei
1	New York
2	Tokyo
3	Paris
4	London
5	Rome

In [25]:
# version 3
# 或直接用 Paris 的位置

idx = city_list.index('Paris')
city_list.insert(idx, 'Tokyo')
print_city_list()

0	Taipei
1	New York
2	Tokyo
3	Paris
4	London
5	Rome

In [32]:
# version 4
# version 3 的簡化

city_list.insert(city_list.index('Paris'), 'Tokyo')
print_city_list()

0	Taipei
1	New York
2	Tokyo
3	Tokyo
4	Tokyo
5	Tokyo
6	Paris
7	London
8	Rome

### 1.3

刪除陣列中任一個一開始就存在的城市(`Taipei`/`New York`/`Paris`/`London`選一個)  
刪除後輸出陣列的內容

> Hint :  `list.pop()` / `list.remove()`

In [9]:
# your code here
city_list.pop(0)
print_city_list()

0	New York
1	Tokyo
2	Paris
3	London
4	Rome

In [33]:
# list.remove() version
city_list.remove('London')
print_city_list()

0	Taipei
1	New York
2	Tokyo
3	Tokyo
4	Tokyo
5	Tokyo
6	Paris
7	Rome

### `list.pop()` v.s. `lsit.remove()`

* `list.pop()` : 參數是要移除內容的位置(index)
* `list.remove()` : 參數是要移除的內容

i.e. 用這題的內容，`city_list.pop(0)` = `city_list.remove('Taipei')`

# 2

現在有一個陣列 `grade_list` 紀錄3年A班的期中考成績  

成績名單格式如下 :

`[姓名, 國文成績, 數學成績, 英文成績]`

In [11]:
grade_list = [
    ['James', 93, 74, 79],
    ['Mary', 94, 90, 94],
    ['John', 72, 84, 75],
    ['Patricia', 83, 71, 86],
    ['Robert', 83, 86, 74],
    ['Jennifer', 95, 92, 85],
    ['Michael', 93, 83, 95],
    ['Linda', 95, 93, 76],
    ['William', 70, 78, 89],
    ['Elizabeth', 76, 79, 95],
    ['David', 90, 93, 81],
    ['Barbara', 77, 73, 72],
    ['Richard', 84, 76, 82],
    ['Susan', 78, 75, 70],
    ['Joseph', 85, 90, 76],
    ['Jessica', 93, 76, 85],
    ['Thomas', 70, 75, 80],
    ['Sarah', 93, 75, 84],
    ['Charles', 85, 95, 83],
    ['Karen', 94, 77, 72]
]

### 2.1

使用for迴圈輸出每個人的名稱及他的國文成績  

格式 :  

姓名 - 成績

範例 : 

```
James - 93
Mary - 94
John - 72
...
```

* bonus : 使用格式化輸出控制輸出格式，名字設定為8格長

    輸出範例 :

    ```
    James    - 93
    Mary     - 94
    John     - 72
    ...
    ```

In [12]:
# your code here
for grade in grade_list:
    print(f'{grade[0]:9s}- {grade[1]}')

James    - 93
Mary     - 94
John     - 72
Patricia - 83
Robert   - 83
Jennifer - 95
Michael  - 93
Linda    - 95
William  - 70
Elizabeth- 76
David    - 90
Barbara  - 77
Richard  - 84
Susan    - 78
Joseph   - 85
Jessica  - 93
Thomas   - 70
Sarah    - 93
Charles  - 85
Karen    - 94

### 2.2

計算每個人三科的平均成績，取到小數點後兩位

範例格式 :

```
James : 92.33
Mery : 82.70
...
```

* bonus : 使用格式化輸出控制輸出格式，名字設定為8格長並靠右

    輸出範例 : 

    ```
    James    : 92.33
    Mery     : 82.70
    ...
    ```

In [14]:
# your code here
for grade in grade_list:
    avg = (grade[1] + grade[2] + grade[3]) / 3
    print(f'{grade[0]:9s}: {avg:.2f}')

James    : 82.00
Mary     : 92.67
John     : 77.00
Patricia : 80.00
Robert   : 81.00
Jennifer : 90.67
Michael  : 90.33
Linda    : 88.00
William  : 79.00
Elizabeth: 83.33
David    : 88.00
Barbara  : 74.00
Richard  : 80.67
Susan    : 74.33
Joseph   : 83.67
Jessica  : 84.67
Thomas   : 75.00
Sarah    : 84.00
Charles  : 87.67
Karen    : 81.00

### 2.3 (Bonus)

計算並輸出此班數學成績的最高分、最低分及平均數

範例格式 :  

```
Max : 97
Min : 72
Avg : 86
```

In [15]:
# your code here
Max = 0
Min = 100
Avg = 0
for grade in grade_list:
    m = grade[2]
    if m > Max:
        Max = m
    if m < Min:
        Min = m
    Avg += m
    
Avg /= 20

print('Max :', Max)
print('Min :', Min)
print('Avg :', Avg)

Max : 95
Min : 71
Avg : 81.75

In [38]:
# version 2

# 先把數學的部分抓到一個陣列再做處理

math_grade = []
for grade in grade_list:
    math_grade.append(grade[2])
    
print(math_grade) # 驗證沒做錯

print('Max :', max(math_grade))
print('Min :', min(math_grade))
print('Avg :', sum(math_grade) / len(math_grade))

[74, 90, 84, 71, 86, 92, 83, 93, 78, 79, 93, 73, 76, 75, 90, 76, 75, 75, 95, 77]
Max : 95
Min : 71
Avg : 81.75

In [39]:
# version 2 advanced

math_grade = [grade[2] for grade in grade_list]

print('Max :', max(math_grade))
print('Min :', min(math_grade))
print('Avg :', sum(math_grade) / len(math_grade))

Max : 95
Min : 71
Avg : 81.75

### explanation

```python
list1 = [1, 2, 3, 4]
list2 = []

for num in list1:
    list2.append(num ** 2)
    
# list2 = [1, 4, 9, 16]
```

上述code把`list1`的每一項都平方，之後放到`list2`

而可以簡化寫成 :

```python
list1 = [1, 2, 3, 4]
list2 = [n ** 2 for n in list1]
```

#### 語法 : `新串列名稱 = [舊串列內容的處理 for 舊串列的內容 in 舊串列]`

In [41]:
# example

exList1 = [i for i in range(5)]
print(exList1)

exList2 = [2 * i - 1 for i in exList1]
print(exList2)

[0, 1, 2, 3, 4]
[-1, 1, 3, 5, 7]