# 1

現在我們有一個儲存世界各地一些城市的陣列

`city_list:list` -> 存放城市的名稱的陣列  
`print_city_list():function` -> 輸出`city_list`的內容

執行下方的區塊可以看到`print_city_list()`執行的結果

In [ ]:
def print_city_list():
    for i, city in enumerate(city_list):
        print(f'{i}\t{city}')
        
city_list = ['Taipei', 'New York', 'Paris', 'London']
print_city_list()

### 1.1

在此陣列的最後加上一個新的城市 : `Rome`  
增加後使用`print_city_list()`來輸出陣列目前的內容

> Hint : `list.append()`

In [ ]:
# your code here

### 1.2

在陣列中`New York`跟`Paris`之間插入一個新的城市 : `Tokyo`  
同樣使用`print_city_list()`查看陣列的內容

> Hint : `list.insert()`

In [ ]:
# your code here

### 1.3

刪除陣列中任一個一開始就存在的城市(`Taipei`/`New York`/`Paris`/`London`選一個)  
刪除後輸出陣列的內容

> Hint :  `list.pop()` / `list.remove()`

In [ ]:
# your code here

# 2

現在有一個陣列 `grade_list` 紀錄3年A班的期中考成績  

成績名單格式如下 :

`[姓名, 國文成績, 數學成績, 英文成績]`

In [ ]:
grade_list = [
    ['James', 93, 74, 79],
    ['Mary', 94, 90, 94],
    ['John', 72, 84, 75],
    ['Patricia', 83, 71, 86],
    ['Robert', 83, 86, 74],
    ['Jennifer', 95, 92, 85],
    ['Michael', 93, 83, 95],
    ['Linda', 95, 93, 76],
    ['William', 70, 78, 89],
    ['Elizabeth', 76, 79, 95],
    ['David', 90, 93, 81],
    ['Barbara', 77, 73, 72],
    ['Richard', 84, 76, 82],
    ['Susan', 78, 75, 70],
    ['Joseph', 85, 90, 76],
    ['Jessica', 93, 76, 85],
    ['Thomas', 70, 75, 80],
    ['Sarah', 93, 75, 84],
    ['Charles', 85, 95, 83],
    ['Karen', 94, 77, 72]
]

### 2.1

使用for迴圈輸出每個人的名稱及他的國文成績  

格式 :  

姓名 - 成績

範例 : 

```
James - 93
Mary - 94
John - 72
...
```

* bonus : 使用格式化輸出控制輸出格式，名字設定為8格長

    輸出範例 :

    ```
    James    - 93
    Mary     - 94
    John     - 72
    ...
    ```

In [ ]:
# your code here

### 2.2

計算每個人三科的平均成績，取到小數點後兩位

範例格式 :

```
James : 92.33
Mery : 82.70
...
```

* bonus : 使用格式化輸出控制輸出格式，名字設定為8格長並靠右

    輸出範例 : 

    ```
    James    : 92.33
    Mery     : 82.70
    ...
    ```

In [ ]:
# your code here

### 2.3 (Bonus)

計算並輸出此班數學成績的最高分、最低分及平均數

範例格式 :  

```
Max : 97
Min : 72
Avg : 86
```

In [ ]:
# your code here